<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ .Site.BaseURL }}images/logo.ico"/>
    <title>{{ i18n "title" }}</title>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}style.css">
</head>
<body>
<header>
    <div class="header-content">
        <h1 class="title">{{ i18n "title" }}</h1>
        <p class="subtitle">{{ i18n "subtitle" }}</p>
        <a href="#download" class="download-button">{{ i18n "download.title" }}</a>
    </div>

    <div class="device-frames">
        <div class="device-frame phone">
            <img src="{{ .Site.BaseURL }}fastlane/metadata/android/{{ .Language.LanguageCode }}/images/phoneScreenshots/room_list.png"
                 alt="Phone Screenshot">
        </div>
        <div class="device-frame tablet">
            <img src="{{ .Site.BaseURL }}fastlane/metadata/android/{{ .Language.LanguageCode }}/images/tenInchScreenshots/room.png"
                 alt="Tablet Screenshot">
        </div>
    </div>

    <nav class="language-switcher">
        <ul>
            {{ range .Site.Languages }}
            <li>
                {{ if eq . $.Site.Language }}
                <span>{{ .LanguageName }}</span>
                {{ end }}
                <ul class="dropdown_menu">
                    {{ range $.Translations }}
                    <li><a title="{{ .Language.LanguageName }}" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                    </li>
                    {{ end }}
                </ul>
            </li>
            {{ end }}
        </ul>
    </nav>
</header>


<main>
    <section id="features">
        <h2>{{ i18n "features.title" }}</h2>
        <div class="features-container">
            <div class="feature-card animated fadeInLeft">
                <img src="{{ .Site.BaseURL }}images/shield.svg" class="features-icon">
                <h3>{{ i18n "features.feature1.title" }}</h3>
                <p>{{ i18n "features.feature1.desc" }}</p>
            </div>
            <div class="feature-card animated fadeInLeft">
                <img src="{{ .Site.BaseURL }}images/lightbulb.svg" class="features-icon">
                <h3>{{ i18n "features.feature2.title" }}</h3>
                <p>{{ i18n "features.feature2.desc" }}</p>
            </div>
            <div class="feature-card animated fadeInLeft">
                <img src="{{ .Site.BaseURL }}images/bolt.svg" class="features-icon">
                <h3>{{ i18n "features.feature3.title" }}</h3>
                <p>{{ i18n "features.feature3.desc" }}</p>
            </div>
            <div class="feature-card animated fadeInLeft">
                <img src="{{ .Site.BaseURL }}images/devices.svg" class="features-icon">
                <h3>{{ i18n "features.feature4.title" }}</h3>
                <p>{{ i18n "features.feature4.desc" }}</p>
            </div>
            <div class="feature-card animated fadeInLeft">
                <img src="{{ .Site.BaseURL }}images/visibility_lock.svg" class="features-icon">
                <h3>{{ i18n "features.feature5.title" }}</h3>
                <p>{{ i18n "features.feature5.desc" }}</p>
            </div>
            <div class="feature-card animated fadeInLeft">
                <img src="{{ .Site.BaseURL }}images/instant_mix.svg" class="features-icon">
                <h3>{{ i18n "features.feature6.title" }}</h3>
                <p>{{ i18n "features.feature6.desc" }}</p>
            </div>
        </div>
    </section>

    <section id="download">
        <h2>{{ i18n "download.title" }}</h2>
        <div class="download-container">
            <div class="download-card animated fadeInLeft">
                <h3>{{ i18n "download.android.title" }}</h3>
                <a href="https://play.google.com/store/apps/details?id=de.connect2x.tammy" class="download-button">
                    {{ i18n "download.android.store" }}
                </a>
                <a href="{{ .Site.Params.downloads.TammyAndroidGooglePlayapk }}" class="download-button">
                    {{ i18n "download.android.apk" }} {{ i18n "download.android.flavor.googlePlay" }}
                </a>
                <a href="{{ .Site.Params.downloads.TammyAndroidGooglePlayaab }}" class="download-button">
                    {{ i18n "download.android.aab" }} {{ i18n "download.android.flavor.googlePlay" }}
                </a>
                <a href="{{ .Site.Params.downloads.TammyAndroidLibreapk }}" class="download-button">
                    {{ i18n "download.android.apk" }} {{ i18n "download.android.flavor.libre" }}
                </a>
                <a href="{{ .Site.Params.downloads.TammyAndroidLibreaab }}" class="download-button">
                    {{ i18n "download.android.aab" }} {{ i18n "download.android.flavor.libre" }}
                </a>
            </div>
            <div class="download-card animated fadeInLeft">
                <h3>{{ i18n "download.ios.title" }}</h3>
                <a href="https://apps.apple.com/app/tammy-chat/id6760345615" class="download-button">
                    {{ i18n "download.ios.store" }}
                </a>
            </div>
            <div class="download-card animated fadeInLeft">
                <h3>{{ i18n "download.linux.title" }}</h3>
                <a href="{{ .Site.Params.downloads.TammyLinuxx64flatpak }}" class="download-button">
                    {{ i18n "download.linux.flatpak" }} (x64)
                </a>
            </div>
            <div class="download-card animated fadeInLeft">
                <h3>{{ i18n "download.windows.title" }}</h3>
                <a href="{{ .Site.BaseURL }}Tammy-Windows-x64.appinstaller" class="download-button">
                    {{ i18n "download.windows.appinstaller" }} (x64)
                </a>
                <a href="{{ .Site.Params.downloads.TammyWindowsx64msix }}" class="download-button">
                    {{ i18n "download.windows.msix" }} (x64)
                </a>
            </div>
            <div class="download-card animated fadeInLeft">
                <h3>{{ i18n "download.mac.title" }}</h3>
                <a href="{{ .Site.Params.downloads.TammyMacOSarm64dmg }}" class="download-button">
                    {{ i18n "download.mac.dmg" }} (arm64)
                </a>
                <a href="{{ .Site.Params.downloads.TammyMacOSx64dmg }}" class="download-button">
                    {{ i18n "download.mac.dmg" }} (x64)
                </a>
                <a href="{{ .Site.Params.downloads.TammyMacOSarm64zip }}" class="download-button">
                    {{ i18n "download.mac.zip" }} (arm64)
                </a>
                <a href="{{ .Site.Params.downloads.TammyMacOSx64zip }}" class="download-button">
                    {{ i18n "download.mac.zip" }} (x64)
                </a>
            </div>
            <div class="download-card animated fadeInLeft">
                <h3>{{ i18n "download.web.title" }}</h3>
                <a href="https://app.tammy.connect2x.de" class="download-button">
                    {{ i18n "download.web.app" }}
                </a>
            </div>
        </div>
    </section>
</main>

<footer>
    <nav>
        <ul>
            <li><a href='matrix:r/tammy:imbitbu.de'>#tammy:imbitbu.de</a></li>
            <li><a href='https://gitlab.com/connect2x/tammy'>{{ i18n "sourcecode" }}</a></li>
            <li><a href='{{ absLangURL "privacy" }}'>{{ i18n "privacy" }}</a></li>
            <li><a href='{{ absLangURL "imprint" }}'>{{ i18n "imprint" }}</a></li>
        </ul>
    </nav>
    <p>&copy; {{ i18n "company" }}</p>
</footer>
</body>
</html>
