.gradle
build/
public/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store


app-data/
.kotlin
local.properties

android_service-account.json
android_keystore.jks
apple_keychain.keychain

.flatpak-builder
.flatpak-cache
/bin/
/trixnity-messenger
